NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
RESEND_API_KEY=
RESEND_FROM_EMAIL=PaniFryzjerka <noreply@panifryzjerka.pl>
SMSAPI_TOKEN=
SMSAPI_FROM=PaniFryzjer
ADMIN_EMAIL=salon.panifryzjerka@gmail.com
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
CRON_SECRET=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
